<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout2">
<body>
	<div id="page" layout:fragment="content">
	
		<!-- Add dynamic content inside this div -->
		
		<div id="dynamicContent">
			<!-- Title page -->
			
			<section class="bg-img1 txt-center p-lr-15 p-tb-265"
				style="background-image: url('/images/tree1.jpg');">
			<br><br>	<h2 class="ltext-105 cl0 txt-center">About</h2>
			</section>
			

	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Story
						</h3>

						<p class="stext-113 cl6 p-b-26">
							
							
							At e-Waste, we provide a full suite of asset management solutions.Electronics asset retirement can be a complex challenge, sometimes requiring multiple vendors to handle shipping, packaging, storage, inventory, data destruction, logistics, disposal and recycling.
								</p>

						<p class="stext-113 cl6 p-b-26">
							This website will allow user to sell his/her electronic waste to e-waste companies and help the environment free from E-Waste. In addition we are going to sell online green products which we have made out of e-waste. 
						</p>

						<p class="stext-113 cl6 p-b-26">
The average life span of an electronic device is in the range of 5 to 7 years. After its unavailability, they are just thrown away in garbage or to the recycle. Most of the electronic waste is not recycled. Recycling of most of the electronic waste is possible in today’s world. There are many e-waste companies which are recycling e-waste. This website will provide platform between common people and e-waste companies.
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img th:src="@{/images/earth.jpg}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Mission
						</h3>

						<p class="stext-113 cl6 p-b-26">
							We are making a general application which can be used according to the customer needs. Our application will work on the concept of Web Application. Through our application users will be able to find the nearest e-waste collection points and schedule e-waste pickup from them doorstep. With options like Reuse, Recycle, Resell users will have the flexibility of deciding what they want to do.
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								
								The main aim of the concept is we can use it according to the client needs. It will also reduce the pollution which is increased by the “Electronic Waste” of Home, Office, and Company Machines. For example Remote, Microwave, Laptops, Hard disk, Microprocessors, Circuit Board, Wires.
															</p>

						<!--  	<span class="stext-111 cl8">
								- Steve Job’s 
							</span>-->
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img th:src="@{/images/earth2.jpg}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
		</div>
		</div>
			</body>
			
</html>
			