<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout2">
<body>
	<div id="page" layout:fragment="content">


		<div id="dynamicContent">
			<form th:action="@{/admin/category/saveSubCategory}"
				th:object="${subCategory}" method="post">
				<div class="form-group">
					<label for="usr">Product Category</label> <select
						th:field="*{productCategory.cid}" class="form-control">
						<option th:each="i : ${categoryList}" th:value="${i.cid}"
							th:text="${i.categoryName}"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="usr">Product Sub Category</label> <input type="text"
						th:field="*{categoryName}" class="form-control"
						required="required">
				</div>
				<input type="hidden" th:field="*{psid}" class="form-control">
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save Sub
						Category</button>
				</div>

			</form>



		</div>
	</div>
</body>

</html>