<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout2">
<body>
	<div id="page" layout:fragment="content">


		<div id="dynamicContent">
			<form th:action="@{/category/saveCategory}" th:object="${category}"
				method="post">

				<div class="form-group">
					<label for="usr">Product Category</label> <input type="text"
						th:field="*{categoryName}" class="form-control"
						required="required"> <input type="hidden"
						th:field="*{cid}" class="form-control">
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save
						Category</button>
				</div>

			</form>



		</div>
	</div>
</body>

</html>