<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout2">
<body>
	<div id="page" layout:fragment="content">


		<div id="dynamicContent">
			<form th:action="@{/productbuying/saveBuyingPrice}"
				enctype="multipart/form-data" th:object="${productPricing}"
				method="post">
				<div class="form-group">
					<label for="usr">Product Model</label> <select
						th:field="*{productModel.mid}" class="form-control">
						<option th:each="i : ${modelList}" th:value="${i.mid}"
							th:text="${i.modelName}"></option>
					</select>
				</div>



				<div class="form-group">
					<label for="usr">Product Price</label> <input type="number"
						th:field="*{productPrice}" class="form-control"
						required="required">
				</div>

				<div class="form-group">
					<label for="usr">Product Status</label> <select
						class="form-control" th:field="*{status}" style="height: 46px;">
						<option value="AVAILABLE">Available</option>
						<option value="SOLD">Sold</option>

					</select>

				</div>


				<div class="form-group">
					<label for="usr">Image1</label> <input type="file" name="img1"
						required="required">
				</div>


				<div class="form-group">
					<label for="usr">Image2</label> <input type="file" name="img2"
						required="required">
				</div>

				<div class="form-group">
					<label for="usr">Image3</label> <input type="file" name="img3"
						required="required">
				</div>

				<div class="form-group">
					<label for="usr">Image4</label> <input type="file" name="img4"
						required="required">
				</div>

				<input type="hidden" th:field="*{pid}" class="form-control">
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Add Product</button>
				</div>

			</form>



		</div>
	</div>
</body>

</html>