	<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout2">
	<head>
	<title>Cart</title>
	</head>
<body>
	<div id="page" layout:fragment="content">
	
		<!-- Add dynamic content inside this div -->
		
		<div id="dynamicContent">
			<!-- Title page -->
			
			<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<tr class="table_row" th:each="user : ${myOrders}">
								<td  th:text="${user.spid}">
										
									</td>
									<td>
										<div class="how-itemcart1">
											<!-- <img th:src="@{/images/imagesmain/item-cart-04.jpg}" alt="IMG">-->
											<img
											th:src="@{${user.pricing.productModel.productImage}}"> 
										</div>
									</td>
									<td th:text="${user.pricing.productModel.modelName}"></td>
									<td th:text="${user.productPrice}"></td>
									
									</tr>

				</ul>
				
				
			</div>
		</div>
	</div>


	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a th:href="@{/user/index}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Selling Cart
			</span>
		</div>
	</div>
		

	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
		
			<div class="row">
			
				<div class="col-lg-10 col-xl-10 m-lr-auto m-b-50">
				<span class="stext-101"><h3>
				Selling Cart</h3>	
			</span>
					<div class="m-l-25 m-r--38 m-lr-0-xl">
					
						<div class="wrap-table-shopping-cart">
						
							<table class="table-shopping-cart">
								<tr class="table_head" >
								<th class="column-1">Product Id</th>
									<th class="column-3">Product</th>
									<th class="column-2">Product Name</th>
									<th class="column-2">Price</th>
									<th class="column-2">Status</th>
									
								</tr>

								<tr class="table_row" th:each="user : ${myOrders}">
								<td class="column-1" th:text="${user.spid}">
										
									</td>
									<td class="column-3">
										<div class="how-itemcart1">
											<!-- <img th:src="@{/images/imagesmain/item-cart-04.jpg}" alt="IMG">-->
											<img
											th:src="@{${user.pricing.productModel.productImage}}"> 
										</div>
									</td>
									<td class="column-2" th:text="${user.pricing.productModel.modelName}"></td>
									<td class="column-2" th:text="${user.productPrice}"></td>
									<td class="column-2" th:text="${user.productStatus}"></td>
									
									</tr>

															</table>
						</div>

						
					</div>
				</div>

			</div>
		</div>
	</form>
		
	
			</div>
	</div>
</body>
</html>
		 