<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout2">
<body>
	<div id="page" layout:fragment="content">


		<div id="dynamicContent">

			<!-- Content page -->
               <div class="container">  
			        <div class=" bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
				<div  th:if="${not #lists.isEmpty(subCategoryList)}">
					<div class="page-content">
                           <div class="headfont flow-center margin"><h4><span> Select Sub-Category</span></h4></div>
						<!-- code added for testing layout -->
						<div class="container-fluid">
							<div class="row">
								<ul class="gallery" th:each="category : ${subCategoryList}">
									<li class="thumbnail pr-2"><i></i><a
										th:href="@{/admin/category/manageSubCategory/{uid}(uid=${category.psid})}" class="imgfont1">
											<img
											th:src="@{${category.productImage}}"  class="pt-2 imgheight"> <label
											style="text-align: cente" class="desc"> <span
												class="spanOverflowElipsis" data-rel="tooltip"
												data-trigger="hover" data-placement="left"
												th:title="${category.categoryName}"
												th:text="${category.categoryName}"></span>
										</label>
									</a></li>
								</ul>
							</div>
						</div>

						<!-- code end for testing layout -->
					</div>

				</div>




			</div>
		</div>



		<div class="form-group pt-2 pl-3">
			<a href="/admin/category/manageSubCategory" class="btn btn-primary">Create
				Sub Category</a>
		</div>
	</div>
</body>

</html>