<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout2">
<body>
	<div id="page" layout:fragment="content">

		<table id="example" class="table table-striped table-bordered"
			style="width: 100%">
			<thead>
				<tr>
					<th>Id</th>
					<th>Category Sub Name</th>

					<th>Category Name</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="subcategory : ${subCategoryList}">
					<td><a
						th:href="@{/admin/category/manageSubCategory/{uid}(uid=${subcategory.psid})}"><span
							th:text="${subcategory.psid}"></span></a></td>
					<td th:text="${subcategory.categoryName}"></td>

					<td th:text="${subcategory.productCategory.categoryName}"></td>

				</tr>
			</tbody>
		</table>

		<div class="form-group">
			<a href="/admin/category/manageSubCategory" class="btn btn-primary">Create
				Sub Category</a>
		</div>
	</div>
</body>

</html>