<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout2">
<body>
	<div id="page" layout:fragment="content">


		<div id="dynamicContent">

			<!-- Content page -->
			<div class="container  p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
				<div class=" bor10" th:if="${not #lists.isEmpty(brandList)}">
					<div class="page-content">

						<!-- code added for testing layout -->
						<div class="container-fluid">
							<div class="row">
								<ul class="gallery" th:each="brand : ${brandList}">
									<li class="thumbnail pr-2"><i></i><a
										th:href="@{/admin/category/manageBrand/{uid}(uid=${brand.bid})}">
											<img style="max-height: 129px; max-width: 129px;"
											th:src="@{${brand.productImage}}" class="pt-2"> <label
											style="text-align: center" class="desc"> <span
												class="spanOverflowElipsis" data-rel="tooltip"
												data-trigger="hover" data-placement="left"
												th:title="${brand.brandName}" th:text="${brand.brandName}"></span>
										</label>
									</a></li>
								</ul>
							</div>
						</div>

						<!-- code end for testing layout -->
					</div>

				</div>




			</div>
		</div>


		<div class="form-group pt-2 pl-3">
			<a href="/admin/category/manageBrand" class="btn btn-primary">Create
				Brand</a>
		</div>
	</div>
</body>

</html>