<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout2">
<body>
	<div id="page" layout:fragment="content">

		<!-- Add dynamic content inside this div -->

		<div id="dynamicContent">
			<!-- Title page -->


			<div class="form-group">
				<label for="usr">Product Category</label> <select
					required="required" id="productCategoryId" class="form-control"
					onchange="loadProductSubCategory()">
					<option value=""></option>
					<option th:each="i : ${productCategory}" th:value="${i.cid}"
						th:text="${i.categoryName}"></option>
				</select>
			</div>


			<div class="form-group">
				<label for="usr">Product Sub Category</label> <select
					required="required" class="form-control" id="productSC">
				</select>
			</div>

		</div>
	</div>
</body>

</html>
