<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout2">
<body>
	<title>ProductSelling</title>
	<div id="page" layout:fragment="content">

		<!-- Add dynamic content inside this div -->

		<div id="dynamicContent">

			<!-- Content page -->
			<div class="container">
				<div class=" bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
					<form th:action="@{/productselling/sellProduct}" method="post">

						<h4 class="mtext-105 cl2 txt-center p-b-30">Your Product</h4>


						<div class="form-group">
							<label for="usr">Product Category</label> <select
								onchange="loadProductSubCategoryForSelling()"
								required="required" id="productCategoryId" class="form-control">
								<option value=""></option>
								<option th:each="i : ${categoryList}" th:value="${i.cid}"
									th:text="${i.categoryName}"></option>
							</select>
						</div>



						<div class="form-group">
							<label for="usr">Product Subcategory</label> <select
								onchange="loadProductBrandForSelling()" id="productSC"
								required="required" class="form-control">
								<option value=""></option>
							</select>
						</div>


						<div class="form-group">
							<label for="usr">Product Brand</label> <select
								onchange="loadProductModelForSelling()" required="required"
								id="productBrand" class="form-control">
								<option value=""></option>
							</select>
						</div>


						<div class="form-group">
							<label for="usr">Product Model</label> <select
								onchange="loadProductPricingForSelling()" required="required"
								id="productModel" class="form-control">
								<option value=""></option>
							</select>
						</div>


						<div class="form-group">
							<label for="usr">Number Of Years Old</label> <select
								onchange="loadWorkingNonWorkingInfo()" required="required"
								id="numberOfYears" class="form-control">
								<option value=""></option>
							</select>
						</div>

						<div class="form-group">
							<label for="usr">Working ?</label> <select required="required"
								onchange="showProductPricing()" id="isWorking"
								class="form-control">
								<option value=""></option>
							</select>
						</div>
						<div class="form-group">
							<label for="usr">Product Price </label><input type="text"
								class="form-control" disabled="disabled" name="productPrice"
								id="availableSellingPrice">
						</div>


						<button type="submit" class="btn btn-primary">Sell
							Product</button>
					</form>
				</div>




			</div>
		</div>
	</div>
</body>
</html>
