<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout2">
<body>
	<div id="page" layout:fragment="content">

		<div id="dynamicContent">

			<!-- Content page -->
			 <div class="container">  
			        <div class=" bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
			
				<div  th:if="${not #lists.isEmpty(modelList)}">
					<div class="page-content">
					<div class="headfont flow-center margin"><h4><span> Select Model</span></h4></div>

						<!-- code added for testing layout -->
						<div class="container-fluid">
							<div class="row">
								<ul class="gallery" th:each="model : ${modelList}">
									<li class="thumbnail pr-2"><i></i><a
										th:href="@{/admin/category/manageModel/{uid}(uid=${model.mid})}" class="imgfont1">
											<img
											th:src="@{${model.productImage}}" class="pt-2 imgheight"> <label
											style="text-align: center" class="desc"> <span
												class="spanOverflowElipsis" data-rel="tooltip"
												data-trigger="hover" data-placement="left"
												th:title="${model.modelName}" th:text="${model.modelName}"></span>
										</label>
									</a></li>
								</ul>
							</div>
						</div>

						<!-- code end for testing layout -->
					</div>

				</div>




			</div>
		</div>


		<!-- 		<table id="example" class="table table-striped table-bordered"
			style="width: 100%">
			<thead>
				<tr>
					<th>Id</th>
					<th>Model Name</th>

					<th>Brand Name</th>


				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${modelList}">
					<td><a
						th:href="@{/admin/category/manageModel/{uid}(uid=${user.mid})}"><span
							th:text="${user.mid}"></span></a></td>
					<td th:text="${user.modelName}"></td>

					<td th:text="${user.productBrand.brandName}"></td>

				</tr>
			</tbody>
		</table>
 -->
		<div class="form-group  pt-2 pl-3">
			<a href="/admin/category/manageModel" class="btn btn-primary">Create
				Model</a>
		</div>
	</div>
</body>

</html>